body {
  font-family: $font_family_main;
  font-family: $font_family_main;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  fill: #000;
  background: $bg_light;
  transition: all 0.5s;

  &::-webkit-scrollbar {
    display: none;
  }

  &.dark {
    color: #fff;
    fill: #fff;
    background: $bg_dark;
  }

  &.no_scroll {
    overflow-y: hidden;
  }

  &.ytp-large-play-button {
    height: 20px;
  }
}