body {
  font-family: $font_family_main;
  font-family: $font_family_main;

  font-size: 14px;
  font-weight: 400;
  color: #000;
  fill: #000;
  background: $bg_light;
  padding-top: $heigth_header_xs;
  padding-top: 30px;
  padding-bottom: 100px;
  transition: all 0.5s;
  background-image: url('../../assets/photo_5316877150185442871_w.jpg');
  background-image: url('../../assets/20944607.jpg');
  background-image: url('../../assets/photo_5316786582210070659_y.jpg');
  background-color: aqua;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.5);

  @media (min-width: $breakpoint_lg) {
    padding-top: $heigth_header_lg;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &.dark {
    color: #fff;
    fill: #fff;
    background: $bg_dark;
  }

  &.no_scroll {
    overflow-y: hidden;
  }

  &.ytp-large-play-button {
    height: 20px;
  }
}