main {
  background-image: url('../../assets/photo_5316877150185442871_w.jpg');
  background-image: url('../../assets/photo_5316786582210070659_y.jpg');
  background-color: aqua;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  // height: 100vh;
}

.wrapper {
  padding-top: 30px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.button {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 200px;
  overflow-x: hidden;
  padding: 15px 30px;
  // border: 1px solid #000;
  border-radius: 30px;
  color: inherit;
  margin: 130px auto auto auto;
  background-color: rgb(244, 116, 69);
  color: #000;
  font-weight: 600;
}